@using Birthdays.Models
@model People

<h3>Delete Birthday</h3>

<p>Are you sure you want to delete this birthday?</p>

<form id="deleteForm" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="Photo">Photo</label>
        <input type="hidden" id="Photo" name="Photo" class="form-control-file" accept=".jpg,.jpeg,.png" readonly />
        @if (Model.Photo != null)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.Photo)" style="margin: 20px 0px; width: 100px; height: 100px;" />
        }  
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" readonly />
    </div>
    <div class="form-group">
        <label for="DateOfBirth">Date of Birth</label>
        <input type="date" id="DateOfBirth" name="DateOfBirth" class="form-control" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" readonly />
    </div>
    <button type="button" onclick="confirmDelete()" class="btn btn-danger">Delete</button>
    <button type="button" onclick="cancelDelete()" class="btn btn-secondary">Cancel</button>
</form>

<script>
    function confirmDelete() {
        document.getElementById("deleteForm").submit();
    }
    function cancelDelete() {
        window.history.back();
    }
</script>