html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Table styles */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td {
    height: 100px;
}

th {
    font-size: 18px;
    background-color: #f2f2f2;
}

/* Image styles */
img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}

/* Link styles */
a {
    text-decoration: none;
    color: blue;
    margin-right: 10px;
}

h2 {
    margin: 26px 130px 24px;
    font-size: 32px;
}

h3 {
    font-size: 32px;
    margin: 26px 0px 24px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="file"] {
    display: block;
    margin-top: 4px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

a {
    color: #007bff;
    text-decoration: none;
}

.arrow-up::before {
    content: " \25B2"; /* код Unicode для стрелки вверх */
}

.arrow-down::before {
    content: " \25BC"; /* код Unicode для стрелки вниз */
}